#container {
  width: 100%;
  height: 100%;
  padding-left: 5em;
  padding-top: 7em;
  // border: .15px solid black;
}

#logo {
  // width: 25em;
  margin: 0;
  padding-right: 5em;
  // border: .15px solid black;

}

#header {
  padding-left: 2.25em;
  width: 66%;
  margin-bottom: 0em;

}

table {
  width: 66%;
  td {
    border: .15px solid black;
  }
  tfoot {
    padding-top: 6em;
  }
}

#loginButton {
  width: 6em;
  margin-left: -.1em;

}

#registerButton {
  margin-left: 1.5em;
}
