#gameSprite {
  height: 300;
  width: 300;
  touch-action: none;
  display: block;
  border: 1px solid black;
  margin: 3em 2.5em 2.5em 1.25em;
}

#gameInfo {
  width: 100%;
}

#canvasBtn {
  float: right;
}
